<html>
    <head>
        <script src="bundle.js" async></script>
    </head>
    <body>
        <div class="container" data-controller="show-hide">
            <div class="default" 
                data-target="show-hide.visible"
                data-action="click->show-hide#toggle">
                This DIV will be visible by default and by stimulus action if it was hidden
            </div>

            <div class="event" 
                data-target="show-hide.invisible"
                data-action="click->show-hide#toggle">
                This DIV will be hidden by default it will be visible by stimulus action
            </div>
        </div>
        

        <div class="star-wars" data-controller="star-wars" data-star-wars-fighter="Rey"> 
            <div data-target="star-wars.quote" class="figther"></div>
            
            <button class="button" data-action="click->star-wars#joinUs">Join Us</button>
        </div>


    </body>
</html>