<html>
    <head>
        <script src="bundle.js" async></script>
    </head>
    <body>
        <div class="container">
            <div class="default-show" onclick="toggleElement()">
                This DIV will be visible by default and by stimulus action if it was hidden
            </div>

            <div class="event-show" onclick="toggleElement()">
                This DIV will be hidden by default it will be visible by stimulus action
            </div>
        </div>
    </body>
</html>