body {
    margin: 0px;
    padding: 0px;
}

.button{
    font-size: 1rem;
    text-decoration: none !important;
    height: 2rem;
    width: 7rem;
    background-color: white;
    border: 3px blanchedalmond;
    border-radius: 3px;
}

.container, .star-wars {
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100vh;
    background-color: snow;
}

.star-wars {
    background-color: rgb(179, 179, 179);
}

.figther {
    font-size: 3rem;
    color: rebeccapurple;
}

.hidden {
    display: none;
}

.additional-text {
    font-size: 2rem;
}

.stimulus-content {
    color: darkblue;
}

.vanilla-js-content {
    color: teal;
}